Package: xcopy
Version: 0.20180605-wheezy
Architecture: all
Maintainer: zvezdochiot <zvezdochiot@users.sourceforge.net>
Section: utils
Priority: optional
Installed-Size: 32
Depends: coreutils, findutils, cpio
Homepage: https://github.com/zvezdochiot/bash-xcopy
Description: Bash-script for xcopy.
 Bash-script for copy dir as sort structure.
